streamlit==1.32.2
chromadb==0.5.5
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.27
langchain-groq==0.1.9
pypdf==4.2.0
python-dotenv==1.0.1
tiktoken==0.7.0
pysqlite3-binary==0.5.4.post2
